*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{  
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center; 
    grid-template-areas:
      ". . .";
}

.head{
    background-color: burlywood;
}
div.d2 > p{
    margin: 0 20px 0 0;
}
  