*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(photo/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    
    /* background: linear-gradient(to bottom right, rgb(45, 54, 63), rgb(101, 51, 50), rgb(45, 71, 72));
    background-repeat: no-repeat;
    background-size: cover; */

    display: flex;
    height: 100px;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
}

img.logo{
    margin-top: -15px;
    position: relative;
    width: 250px;
    height: auto;
}

.center{
    position: relative;
    justify-content: center;
}

.kupit{
    position: relative;
    align-items: center;
    padding: 20px;
    background-color: black;
    border-radius: 3em;
    
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
}

.kupit:hover{
    background-color: rgb(20, 20, 20);
    transition: background-color 0.2s linear;
}

.shapka-ssilka{
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
}

.shapka-ssilka:hover{
    color: rgb(185, 185, 185);
    transition: all 0.3s linear;
}

div.d1{
}

.fon{
}