*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.d1{
    position: absolute;
    background-color: #A5A5A5;
    width: 100%;
    height: 100px;
    bottom: 0px;
}

.d2{
    position: absolute;
    background-color: #FFCF48;
    width: 500px;
    height: 100px;
    bottom: 170px;
    border-radius: 10px;
    left:calc(50vw - 500px/2)
}

.d3{
    position: absolute;
    background-color: #434B4D;
    width: 90px;
    height: 90px;
    bottom: 100px;
    left: 820px;
    border-radius: 50%;
}

.d4{
    position: absolute;
    background-color: #434B4D;
    width: 90px;
    height: 90px;
    left: 460px;
    bottom: 100px;
    border-radius: 50%;
}

.d5{
    position: absolute;
    background-color: #FFCF48;
    width: 240px;
    height: 100px;
    bottom: 270px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    left:calc(50vw - 240px/2)
}

.p1{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    bottom: 100px;
    left: 820px;
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.p2{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    bottom: 100px;
    left: 460px;
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.d6{
    position: absolute;
    background-color: #FFA000;
    width: 20px;
    height: 50px;
    left: 425px;
    bottom: 200px;
    border-radius: 50%;
}

.d7{
    position: absolute;
    background-color: #42AAFF;
    width: 240px;
    height: 100px;
    top: 0;
    border-radius: 40%;
    left:0;
    animation-name: dvig;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.d8{
    position: absolute;
    background-color: #42AAFF;
    width: 240px;
    height: 100px;
    top: 70px;
    border-radius: 40%;
    right:0;
    animation-name: dvig2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform:rotate(360deg);
    }
    100% {
        transform:rotate(0deg);
    }
}

@keyframes dvig {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(2000px,0);
    }
}

@keyframes dvig2 {
    0%{
        transform: translate(100%,0);
    }
    100%{
        transform: translate(-1400px,0);
    }
}
/*#FFCF48