*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

div{
  position: absolute;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: bisque;
  transition: left ease-in-out 1s;
}

img{
  position: absolute;
  left: 0;
  top: 50vh;
  width: 40px;
  height: auto;
  transition: all ease-in-out 1s;
}

section{
  display: flex;
}

.menu{
  left: 0;
}

.knopka{
  left: 300px;
  transform: rotate(180deg);
}